


{% extends "base.html" %}



{% block content %}


{% if conselheiro_nome[0] != 'sindico' %}

<h2>Painel do Conselheiro: {{ conselheiro_nome[1] }}</h2>

<h3>Avaliações Pendentes</h3>
<ul>
    {% for queixa in pendentes %}
        <li>
            <strong>ID: {{ queixa[0] }}</strong> - {{ queixa[1] }}
            <a href="/avaliar/{{ queixa[0] }}?conselheiro_id={{ conselheiro_id }}">Avaliar</a>
        </li>
    {% else %}
        <li><i>Nenhuma pendente.</i></li>
    {% endfor %}
</ul>

<h3>Já Avaliadas</h3>
<ul>
    {% for queixa in avaliadas %}
        <li>
            <strong>ID: {{ queixa[0] }}</strong> - {{ queixa[1] }}
          
            <a href="/alterar_avaliacao/{{ queixa[0] }}?conselheiro_id={{ conselheiro_id }}">Alterar</a>
        </li>
    {% else %}
        <li><i>Nenhuma avaliação registrada.</i></li>
    {% endfor %}
</ul>


{% else %}


<h2>Painel do Síndico: {{ conselheiro_nome[1] }}</h2>

<h3>Avaliações Pendentes</h3>
<ul>
    {% for queixa in queixas_sindico %}
    
    {% if queixa[2] == 0 %}
        <li>
            <strong>ID: {{ queixa[0] }}</strong> - {{ queixa[1] }}
            <a href="/avaliar_custo_queixa/{{ queixa[0] }}?conselheiro_id={{ conselheiro_id }}">Avaliar</a>
        </li>
     {% endif %}
    {% else %}
        <li><i>Nenhuma pendente.</i></li>
    {% endfor %}
</ul>

<h3>Já Avaliadas</h3>
<ul>
   {% for queixa in queixas_sindico %}
   
   {% if queixa[0] >= 1 %}
       <li>
           <strong>ID: {{ queixa[0] }}</strong> - {{ queixa[1] }}
           <a href="/avaliar_custo_queixa/{{ queixa[0] }}?conselheiro_id={{ conselheiro_id }}">Avaliar</a>
       </li>
    {% endif %}
   {% else %}
       <li><i>Nenhuma pendente.</i></li>
   {% endfor %}
</ul>



{% endif %}



{% endblock %}