{% extends "base.html" %}
{% block content %}



<h2>Alterar Avaliação da Queixa #{{ queixa_id }}</h2>
<form method="post" action="/alterar_avaliacao/{{ queixa_id }}">
    <input type="hidden" name="conselheiro_id" value="{{ conselheiro_id }}">

     <label>Risco à Segurança:</label><br>
     <select name="risco_seguranca" required>
         {% for valor, descricao in opcoes_risco_seguranca %}
             <option value="{{ valor }}"
               {% if avaliacao and valor == (avaliacao['risco_seguranca'] if avaliacao['risco_seguranca'] else avaliacao[3]) %}
                 selected
               {% endif %}
             >{{ valor }} - {{ descricao }}</option>
         {% endfor %}
     </select><br>
     
    <label>Risco à Integridade:</label><br>
    <select name="risco_integridade" required>
        {% for valor, descricao in opcoes_risco_integridade %}
            <option value="{{ valor }}"
              {% if avaliacao and valor == (avaliacao['risco_integridade'] if avaliacao['risco_integridade'] else avaliacao[4]) %}
                selected
              {% endif %}
            >{{ valor }} - {{ descricao }}</option>
        {% endfor %}
    </select><br>
        
    <label>Risco à Bens:</label><br>
    <select name="risco_bens" required>
        {% for valor, descricao in opcoes_risco_bens %}
            <option value="{{ valor }}"
              {% if avaliacao and valor == (avaliacao['risco_bens'] if avaliacao['risco_bens'] else avaliacao[5]) %}
                selected
              {% endif %}
            >{{ valor }} - {{ descricao }}</option>
        {% endfor %}
     </select><br>

   

        <label>Probabilidade:</label><br>
        <select name="probabilidade" required>
        {% for valor, descricao in opcoes_probabilidades %}
            <option value="{{ valor }}"
              {% if avaliacao and valor == (avaliacao['probabilidade'] if avaliacao['probabilidade'] else avaliacao[6]) %}
                selected
              {% endif %}
            >{{ valor }} - {{ descricao }}</option>
        {% endfor %}
        </select><br>
   
   
   <label>Urgência:</label><br>
   <select name="urgencia" required>
       {% for valor, descricao in opcoes_prioridades %}
           <option value="{{ valor }}"
             {% if avaliacao and valor == (avaliacao['urgencia'] if avaliacao['urgencia'] else avaliacao[7]) %}
               selected
             {% endif %}
           >{{ valor }} - {{ descricao }}</option>
       {% endfor %}
   </select><br>
   
 
 
<label>Custo</label><br>
<input type="hidden" name="custo" value="{{ valores_queixa[10] }}">
   <select name="custo_block" disabled>
   
       {% for valor, descricao in opcoes_custos %}
           <option value="{{ valor }}"
                     
                         {%        if( valor == valores_queixa[10]) %}
                             selected
                         {% endif %}
                     
           >{{ valor }} - {{ descricao }}</option>
       {% endfor %}
   </select><br>
           
           
 <label>Percepção dos Moradores</label><br>
<input type="hidden" name="percepcao_moradores" value="{{ valores_queixa[11] }}">
        <select name="percepcao_block" disabled>
            {% for valor, descricao in opcoes_percepcoes %}
                <option value="{{ valor }}"
                  {%        if( valor == valores_queixa[7]) %}
                      selected
                  {% endif %}
                >{{ valor }} - {{ descricao }}</option>
            {% endfor %}
        </select><br>

    <button type="submit">Salvar Alterações</button>
</form>
<a href="/painel?conselheiro_id={{ conselheiro_id }}">Voltar ao painel</a>
{% endblock %}