{% extends "base.html" %}
{% block content %}


{% if conselheiro_nome[0] != 'sindico' %}


<h2>
    Avaliar Queixa #{{ queixa_id }}<br>
    
    Conselheiro: {{ conselheiro_nome[1] }}
</h2>


<!--- <p>DEBUG opcoes custos: </p> -->
<hr>
<h3>Descrição: {{ valores_queixa[1] }}</h3>

<hr>
<form method="post" action="/avaliar/{{ queixa_id }}">
    <label>Risco à Segurança:</label>
    <input type="hidden" name="conselheiro_id" value="{{ conselheiro_id }}">
    
    <label>Risco à Segurança:</label><br>
    <select name="risco_seguranca" required>
        {% for valor, descricao in opcoes_risco_seguranca %}
            <option value="{{ valor }}"
              {% if avaliacao and valor == (avaliacao['risco_seguranca'] if avaliacao['risco_seguranca'] else avaliacao[2]) %}
                selected
              {% endif %}
            >{{ valor }} - {{ descricao }}</option>
        {% endfor %}
    </select><br>
    
    <label>Risco à Integridade:</label><br>
           <select name="risco_integridade" required>
               {% for valor, descricao in opcoes_risco_integridade %}
                   <option value="{{ valor }}"
                     {% if avaliacao and valor == (avaliacao['risco_integridade'] if avaliacao['risco_integridade'] else avaliacao[4]) %}
                       selected
                     {% endif %}
                   >{{ valor }} - {{ descricao }}</option>
               {% endfor %}
           </select><br>
    
        <label>Risco à Bens:</label><br>
               <select name="risco_bens" required>
                   {% for valor, descricao in opcoes_risco_bens %}
                       <option value="{{ valor }}"
                         {% if avaliacao and valor == (avaliacao['risco_bens'] if avaliacao['risco_bens'] else avaliacao[5]) %}
                           selected
                         {% endif %}
                       >{{ valor }} - {{ descricao }}</option>
                   {% endfor %}
               </select><br>
        
   
      <label>Probabilidade:</label><br>
             <select name="probabilidade" required>
                 {% for valor, descricao in opcoes_probabilidades %}
                     <option value="{{ valor }}"
                       {% if avaliacao and valor == (avaliacao['probabilidade'] if avaliacao['probabilidade'] else avaliacao[6]) %}
                         selected
                       {% endif %}
                     >{{ valor }} - {{ descricao }}</option>
                 {% endfor %}
             </select><br>
 
 

    
    <label>Urgência (Prioridade):</label><br>
           <select name="urgencia" required>
               {% for valor, descricao in opcoes_prioridades %}
                   <option value="{{ valor }}"
                     {% if avaliacao and valor == (avaliacao['urgencia'] if avaliacao['urgencia'] else avaliacao[7]) %}
                       selected
                     {% endif %}
                   >{{ valor }} - {{ descricao }}</option>
               {% endfor %}
           </select><br>
           
    

       <label>Custo:</label><br>
        <input type="hidden" name="custo" value="{{ valores_queixa[10] }}">
           
       <select name="custoblock" disabled>
           {% for valor, descricao in opcoes_custos %}
               <option value="{{ valor }}"
                         
                             {%        if( valor == valores_queixa[10]) %}
                                 selected
                             {% endif %}
                         
               >{{ valor }} - {{ descricao }}</option>
           {% endfor %}
       </select><br>
               
               
     <label>Percepção dos Moradores</label><br>
     <input type="hidden" name="percepcao_moradores" value="{{ valores_queixa[11] }}">
            <select name="listablocpercp" disabled>
                {% for valor, descricao in opcoes_percepcoes %}
                    <option value="{{ valor }}"
                      {%        if( valor == valores_queixa[7]) %}
                          selected
                      {% endif %}
                    >{{ valor }} - {{ descricao }}</option>
                {% endfor %}
            </select><br>
           


    <button type="submit">Salvar Avaliação</button>
</form>


{% else %}

Você não tem permissão para avaliar, você é síndico. Só consegue atribuir Custo para as Queixas

{% endif %}



{% endblock %}