

{% extends "base.html" %}
{% block content %}
<h2>Conselheiros</h2>
<form method="post">
    <input type="text" name="nome" placeholder="Nome" required>
    <input type="text" name="unidade" placeholder="Unidade">
    <select name="status"><option>ativo</option><option>inativo</option></select>
    <select name="tipo"><option value="morador">morador</option><option value="sindico">síndico</option></select>
    <button type="submit">Adicionar</button>
</form>
<ul>
{% for c in conselheiros %}
    <li>{{ c[1] }} ({{ c[4] }}) - Unidade: {{ c[2] }}</li>
{% endfor %}
</ul>

{% endblock %}